<header class="header">
    <a href="/admin" class="header__logo">Admin Panal</a>
    <nav class="header__nav">
        <ul>
            <li>
                <a href="/" class="">Home</a>
            </li>
            <li>
                <a href="/about" class="">About</a>
            </li>
            <li>
                <a href="/admin" class="">Admin Panal</a>
            </li>
        </ul>
    </nav>
    
    <div class="header__button">
        <a href="/logout">
            Logout
          </a>
    </div>
</header>